# Activer le moteur de réécriture
RewriteEngine On

#SetEnv APP_ENV dev  # Utiliser 'prod' en production

# Rediriger toutes les requêtes vers public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php?route=$1 [QSA,L]

# Autoriser les requêtes depuis d'autres domaines (CORS)
<IfModule mod_headers.c>
    Header Set Access-Control-Allow-Origin "*"
    Header Set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header Set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>

# Désactiver l'affichage de l'index de répertoire
Options -Indexes

# Protéger les fichiers sensibles
<FilesMatch "\.(env|htaccess|ini|log|sh|bak|sql)$">
    Require all denied
</FilesMatch>
